* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

h1 {
    background-color:  darkslateblue;
    color: floralwhite;
    font-size: 24;
    text-align: center;
}

h2 {
    background-color: rgb(64, 50, 78);
    color: white;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

h3 {
    font-size: 24px;
    text-align: center;
}

body {
    background-color: lightslategray;
}

ol {
    text-align: center;
}